<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        <h1>Hi, {{ current_user.name }}</h1>
    {% endif %}

    <h1>This is the Index page</h1>
    <p>You need to login to be able to surf these pages:</p>
    <ul>
        <li><a href="{{ url_for('page_a') }}">Click here to go to page A</a> </li>
        <li><a href="{{ url_for('page_b') }}">Click here to go to page B</a> </li>
    </ul>

    <div>
        Test WTForm and Flask-login <br>
        <a href="{{ url_for('main') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
</body>
</html>