<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Form</title>
</head>
<body>

<form action="process_request" method="post">
    <label for="name">Please enter your name:</label>
    <input type="text" id="name" name="name"><br>
    <label for="surname">Please enter your surname:</label>
    <input type="text" id="surname" name="surname"><br>
    <label for="date_of_birth">Please enter your birthdate:</label>
    <input type="text" id="date_of_birth" name="date_of_birth"><br>
    <label for="nationality">Please enter your nationality:</label>
    <input type="text" id="nationality" name="nationality"><br>
    <input type="submit" value="SEND">
</form>

</body>
</html>